<div class="input-field file-field col s12">
  <div class="btn">
    <span>Html </span>
    <%= f.file_field :html %>
    <%= f.hidden_field :main, value: false %>
  </div>


  <div class="file-path-wrapper">
    <input class="file-path validate" type="text">
  </div>
</div>