<table>
    <tbody>
        <tr>
            <td>
                <%= @project.id %>
            </td>
          <td>
            <%= @project.title %>
          </td>
        </tr>
    </tbody>
</table>