<% provide(:title, "Portfolio") %>
<% title = "Portfolio" %>
<%= title %>
<% provide(:title, "Portfolio") %>
  <div class="row">
    <% @projects.each do |p| %>
        <div class="col m4">
          <%= link_to portfolioo_path(p.title) + '/'  do %>
            <%= image_tag "/projects/#{p.title}/main_image.png", :style => 'width: 100%; height: auto' %>
              <p><%= p.title %></p>
          <% end %>
        </div>
    <% end %>

</div>