<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <%= link_to "Projects", admin_projects_path %>
      </li>
      <li>
        <%= link_to "Create project", new_admin_project_path %>
      </li>

    </ul>
  </div>
</nav>